body {
  background-color: #e6d1e4;
  margin: 0;
  overflow-x: hidden;
}


#firstwrapper{
  background-color: #A48ECA;
  width: 100vw;
  overflow-x: hidden;
  height: 80vh;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; 
}

#wel{
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 90px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  
}
#bio{
  margin-top: -4%;
  width: 57%;
  text-align: justify;
  font-family: "Inter";
  color: #252025;
}

#resume{
  margin: 4px 2px;
  font-size: 16px;
  padding: 15px 32px;
  border: none;
  border-radius: 15px;
  background-color: #6f5592;
  cursor: pointer;
  font-family: "Inter";
  font-weight: bold;
  color: #c7c6c7;

  margin-top: 1%;
  
}

#resume:hover{

  transition-duration: 0.5s;
  background-color: #edddec;
  color: #776295;
  box-shadow: 4px 4px 55px rgba(211, 186, 228, 0.897);

}

#skills{
  display: flex;
  margin: 5%;
  gap: 5%;
}

img{
  width: 13%;
}

@media (max-width: 600px) {
  #bio{
    margin-top: -10%;
  }
}